[submodule "ips/cpu"]
	path = ips/cpu
	url = git@github.com:daniel-santos-7/leaf.git
	branch = feature/rf-snoop
[submodule "ips/uart"]
	path = ips/uart
	url = git@github.com:daniel-santos-7/wb-uart.git
	branch = develop
[submodule "ips/wgen"]
	path = ips/wgen
	url = https://github.com/daniel-santos-7/dds-sig-gen
	branch = develop
